.card {
  background-color: orangered;
  height: 50rem;
  transition: all .5s;
  font-size: 1.5rem;
  // padding: 2.5rem;
  // text-align: center;
  // box-shadow: 0 1.5rem 4rem rgba(#000, .15);
  // border-radius: 3px;

  &-1 {
    background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}