// COLORS
$color-primary:#000; // Pastel Green
$color-primary-light: #000; // Emerald Green
$color-primary-dark: #000; // Jungle Greens

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;